*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Spartan', sans-serif;
background-color:  hsl(180, 52%, 96%);
font-size: 15px;
}